*

/* SECTION 2*/

#section_2 {
  height: 80vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  background: #fac9e7;
  flex-direction: row;
  position: relative;
  font-family: "Dosis", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Remove padding from the container */
}

.image-box {
  flex: 1;
  text-align: center;
  transition: transform 0.2s ease; /* Transition for the image */
  margin-left: 100px;
  margin-right: 10px;
}

.profile-image {
  width: 400px;
  height: 400px;
  display: block; /* Add this line to center the image */
  margin: 0 auto; /* Add this line to center the image */
}

span {
  font-size: 24px;
}

.text-box {
  flex: 1;
  /* Remove padding from the text box */
  background-color: rgba(250, 201, 231, 1) 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 100px;
}

.text-content {
  padding: 20px;
}

.text-content h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 14px;
  line-height: 1.6;
}

/* Add a hover effect to the image */
.image-box:hover {
  transform: scale(1.1); /* Enlarge the image on hover */
}
