* #section_4 {
  height: 100vh; /* Set the section height to 50% of the viewport height */
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center; /* Vertically center the content */
  background: rgb(250, 201, 231);
  background: linear-gradient(
    180deg,
    rgba(250, 201, 231, 1) 50%,
    rgba(120, 41, 151, 1) 100%
  );
}
