*

/* footer  */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #f395d9;
  font-family: "Dosis", sans-serif;
}
.footer-wrapper_right img {
  max-width: 30px;
  align-items: center;
  /* margin-top: 5px; */
}
.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-image {
  max-height: 20px;
}

.footer-middle p {
  font-size: 15px;
  align-items: center;
}

.footer-middle h3 {
  font-size: 28px;
  align-items: center;
}
